/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a; /* Dark background */
  color: #ffffff; /* White text for readability */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #295887; /* Black navbar background */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Logo container */
.navbar-logo {
  display: flex;
  align-items: center;
  position: absolute;
}

.navbar-logo img {
  height: 80px !important; /* Adjust as needed */
  width: auto;
}

/* Navbar Links */
.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: white; /* Crimson Red links */
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

/* Navbar link hover effect */
.nav-links a:hover {
  font-weight: 500; /* Lighter red on hover */
  transform: scale(1.1); /* Slight scaling for hover effect */
}

/* Hamburger Menu */
.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  color: #ffffff; /* White icon for visibility */
  font-size: 24px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #000000; /* Black background for mobile menu */
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .nav-links-mobile li {
    margin-bottom: 10px;
  }

  .mobile-menu-icon {
    display: block;
  }

  .navbar-logo img {
    height: 60px; /* Scale down logo for mobile */
  }
}
